In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('./Hepatitis/hepatitis.csv', header=)
df.head()

,2,30,2.1,1,2.2,2.3,2.4,2.5,1.1,2.6,2.7,2.8,2.9,2.10,1.00,85,18,4.0,?,1.2
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [6]:
df.columns=['Class','AGE','SEX','STEROID','ANTIVIRALS',	'FATIGUE',	'MALAISE',	'ANOREXIA',	'LIVER BIG',	'LIVER FIRM','SPLEEN PALPABLE','SPIDERS',	'ASCITES',	'VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN',	'PROTIME','HISTOLOGY']
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [9]:
df['SEX'].unique()

array([2, 1], dtype=int64)

In [11]:
df.loc[df['SEX']==2,'SEX']='M'
df.loc[df['SEX']==1,'SEX']='F'

In [12]:
df

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,M,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,F,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,F,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,F,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,F,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,F,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,F,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,F,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,M,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,F,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [13]:
df['SEX'].unique()

array(['M', 'F'], dtype=object)

In [14]:
df_M=df[df['SEX']=='M']
df_M

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,M,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
20,2,22,M,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,M,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,M,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,M,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
33,2,26,M,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
37,2,20,M,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
47,2,28,M,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
59,2,45,M,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,?,?,1
77,2,34,M,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
83,2,67,M,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
84,2,62,M,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,M,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,M,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,M,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,M,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

In [15]:
df_F=df[df['SEX']=='F']
df_F

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,F,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,F,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,F,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,F,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,F,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,F,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,F,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,F,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,F,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
154,1,43,F,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [17]:
df_merger=pd.concat([df_F ,df_M])
df_merger

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,F,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,F,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,F,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,F,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,F,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2,62,M,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,M,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,M,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,M,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,M,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

In [20]:
df_sort_SGOT=df.sort_values(by=['SGOT'],ascending=False)
df_sort_SGOT

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
56,2,34,F,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1
6,1,51,F,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
118,1,61,F,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
7,2,23,F,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
30,1,39,F,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2,50,M,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
144,1,45,F,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
45,2,28,F,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
131,1,31,F,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
74,2,50,F,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1

In [21]:
df_sort_age=df.sort_values(by=['AGE'])
df_sort_age

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
110,2,7,F,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
37,2,20,M,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
148,2,20,F,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
121,2,20,F,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
101,2,22,F,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,67,M,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
115,2,69,M,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
147,1,70,F,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
133,2,72,F,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
2,2,78,F,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1

In [22]:
df_sort_protime=df.sort_values(by=['PROTIME'])
df_sort_protime

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
130,2,54,F,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
53,2,40,F,2,1,1,2,2,2,1,1,2,2,2,1.20,85,31,4.0,100,1
28,2,61,F,1,2,1,2,2,1,1,2,2,2,2,1.30,78,25,3.8,100,1
25,2,27,F,1,2,1,1,2,2,2,2,2,2,2,0.80,95,46,3.8,100,1
60,2,37,F,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2,22,F,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
50,2,39,F,1,2,2,2,2,2,2,2,2,2,2,0.90,85,60,4.0,?,1
99,2,60,F,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
97,2,44,F,1,2,1,1,2,1,1,2,1,2,2,3.00,114,65,3.5,?,2
0,2,30,M,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1

In [23]:
df_transposing=df.T
df_transposing

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
AGE,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
SEX,M,F,F,F,F,F,F,F,F,F,...,F,F,F,F,F,F,F,F,M,F
STEROID,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
ANTIVIRALS,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FATIGUE,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
MALAISE,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
ANOREXIA,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
LIVER BIG,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
LIVER FIRM,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
SPLEEN PALPABLE,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
SPIDERS,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
ASCITES,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
VARICES,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
BILIRUBIN,1.00,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
ALK PHOSPHATE,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
SGOT,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
ALBUMIN,4.0,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
PROTIME,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
HISTOLOGY,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

In [24]:
df_melt=pd.melt(df,id_vars=['SEX'])
df_melt

     SEX   variable value
0      M      Class     2
1      F      Class     2
2      F      Class     2
3      F      Class     2
4      F      Class     2
...   ..        ...   ...
2940   F  HISTOLOGY     2
2941   F  HISTOLOGY     2
2942   F  HISTOLOGY     2
2943   M  HISTOLOGY     2
2944   F  HISTOLOGY     2

[2945 rows x 3 columns]

In [31]:
df_casting=pd.pivot_table(df,index=['Class','SEX'],values='HISTOLOGY')
df_casting

           HISTOLOGY
Class SEX
1     F     1.781250
2     F     1.383178
      M     1.250000